@model IEnumerable<Rent_A_Car_Final_Project.Models.Car>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Index";
}

<h1>Select from a range of cars</h1>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
{
    <p>
        <a class="btn btn-primary"asp-action="Create">Add New Car</a>
    </p>
}
    <table class="table table-warning table-striped" >
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentPricePerDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationId)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img class="img-thumbnail img-fluid" src="/cars/@Html.DisplayFor(modelItem => item.Picture)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.RentPricePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booked)
                </td>
                <td>
                    @Html.DisplayFor(model => item.RegistrationId)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))

                    {
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">View</a>
                    }
                    else if (SignInManager.IsSignedIn(User) && User.IsInRole("Customer"))
                    {
                        if (item.Booked)
                        {
                            <h4>Already Booked</h4>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Book</a>
                        }
                    }

                </td>
            </tr>
            }

        </tbody>
    </table>
